.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  z-index: 10160;
  padding: 2rem;
  background-color: #c29d9d30;
}

.login-container p-card {
  z-index: 10160;
}

.p-field {
  margin: 10px;
  z-index: 10161;
}

.buttonFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonFields p-button {
  margin-top: 15px;
}

.login-page {
  height: 100;
  width: 100%;
  margin: 0;
  padding: 0;
}
