<form class="card" [formGroup]="groupData">
  <app-display-errors
  *ngIf="errors.length > 0"
  [errors]="errors"
></app-display-errors>
  <p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    [style]="{ 'background-color': 'white' }"
  >
  </p-steps>

  <div *ngIf="activeIndex === 0" class="m-5">
    <div class="flex flex-column gap-2">
      <label for="name">Name</label>
      <input
        pInputText
        id="name"
        formControlName="name"
        [style]="{ width: '50%' }"
      />
      <div
      *ngIf="groupData.get('name')?.hasError('required') && groupData.get('name')?.touched"
      class="text-danger"
    >
      Please enter the name
    </div>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="price">Price</label>
      <p-inputNumber
        id="price"
        formControlName="price"
        mode="currency"
        currency="USD"
        locale="en-US"
        [style]="{ width: '50%' }"
      ></p-inputNumber>
      <div
      *ngIf="groupData.get('price')?.hasError('required') && groupData.get('price')?.touched"
      class="text-danger"
    >
      Please enter the name
    </div>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="price">Travel Type</label>
      <p-dropdown
        formControlName="travelTypeId"
        placeholder="Select"
        [options]="travelTypes"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="price">Number of Nights</label>
      <p-inputNumber
        formControlName="numberOfNights"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [max]="30"
        [min]="1"
        [step]="1"
        decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [style]="{ width: '50%' }"
      ></p-inputNumber>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="price">Description</label>
      <textarea
        id="description"
        pInputTextarea
        formControlName="description"
        rows="5"
        cols="20"
      ></textarea>
    </div>
    <div class="flex justify-content-center m-5">
      <button
        pButton
        pRipple
        label="Next ->"
        (click)="incrementActiveIndex()"
        class="p-button-text"
      ></button>
    </div>
  </div>

  <div *ngIf="activeIndex === 1" class="mt-5" formGroupName="location">
    <div class="flex flex-column gap-2">
      <label for="cityName">City name</label>
      <input
        pInputText
        id="cityName"
        formControlName="cityName"
        [style]="{ width: '50%' }"
      />
      <div
      *ngIf="groupData.get('location.cityName')?.hasError('required') && groupData.get('location.cityName')?.touched"
      class="text-danger"
    >
      Please enter the city
    </div>
    </div>
    <div class="flex flex-column gap-2 mt-3">
      <label for="countryName">Country name</label>
      <input
        pInputText
        id="countryName"
        formControlName="countryName"
        [style]="{ width: '50%' }"
      />
      <div
      *ngIf="groupData.get('location.countryName')?.hasError('required') && groupData.get('location.countryName')?.touched"
      class="text-danger"
    >
      Please enter the country
    </div>
    </div>
    <br />
    <HR />
    <div class="flex flex-column gap-2 mt-3" [formGroup]="groupData">
      <label for="countryName">Dates</label>
      <p-calendar
        selectionMode="multiple"
        [readonlyInput]="true"
        formControlName="travelInformations"
      ></p-calendar>
    </div>
    <div class="flex justify-content-center m-5">
      <button
        pButton
        pRipple
        label="Next ->"
        (click)="incrementActiveIndex()"
        class="p-button-text"
      ></button>
    </div>
  </div>
  <div *ngIf="activeIndex === 2" class="flex justify-content-center mt-5">
    <p-fileUpload
      name="myfile[]"
      [customUpload]="true"
      (uploadHandler)="onUpload($event)"
    ></p-fileUpload>
    <div class="flex justify-content-center m-5">
      <button
        pButton
        pRipple
        label="Next ->"
        (click)="incrementActiveIndex()"
        class="p-button-text"
      ></button>
    </div>
  </div>

  <div *ngIf="activeIndex === 3" class="flex justify-content-center mt-5">
    <p-pickList
      [source]="sourceItems"
      [target]="targetItems"
      sourceHeader="Available"
      targetHeader="Selected"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{ height: '30rem' }"
      [targetStyle]="{ height: '30rem' }"
      filterBy="name"
      sourceFilterPlaceholder="Search by name"
      targetFilterPlaceholder="Search by name"
      breakpoint="1400px"
    >
      <ng-template let-includedItem pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ includedItem.name }}</span>
          </div>
        </div>
      </ng-template>
    </p-pickList>
    <button
      pButton
      pRipple
      label="Create new incl. item"
      icon="pi pi-check"
      class="p-button-text"
      (click)="createIncludedItemModal = true"
    ></button>
    <button
      pButton
      pRipple
      [disabled]="!groupData.valid"
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="submit()"
    ></button>
  </div>
</form>

<!--modal-->

<p-dialog
  [visible]="createIncludedItemModal"
  header="New incl. Item"
  [modal]="true"
  styleClass="p-fluid"
  [closable]="false"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label>Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="includedItemName"
        required
        autofocus
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      [disabled]="includedItemName === ''"
      pRipple
      label="Save"
      class="p-button-text"
      (click)="createNewIncludedItem()"
    ></button>
    <button
      pButton
      pRipple
      label="Cancel"
      class="p-button-text"
      (click)="this.createIncludedItemModal = false"
    ></button>
  </ng-template>
</p-dialog>
