<div class="card">
  <p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '70rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Users</h5>
        <span>
          <input
            pInputText
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
          />
          <button
            pButton
            pRipple
            label="Search"
            icon="pi pi-search"
            class="p-button ml-3"
            (click)="search(searchQuery)"
          ></button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Image</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>
          <img
            [src]="transformImageWrapper(user.image)"
            [alt]="user.username"
            width="50px"
            height="50px"
            class="shadow-4"
          />
        </td>
        <td>{{ user.role.name }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editUser(user)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger mr-2"
            (click)="deleteUser(user.userId)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-user-modal
  *ngIf="userDialog"
  [user]="user"
  (onClose)="userDialog = false"
  (onSave)="saveUser($event)"
></app-user-modal>
