app-root {
  display: block;
  height: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.left {
  width: 20%;
  flex-shrink: 0;
  z-index: 105215;
}

.right {
  flex: 1;
  width: 80%;
}

.right_content{
  margin-left: 2%;
  margin-top: 2%;
  width: 98%;
  height: 100%;
}
