.card-content {
    display: flex;
    align-items: start;
}

.form-container {
    flex: 1;
    width: 40%;
}


.p-field {
  margin-bottom: 1rem;
  display: block;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 50%;
}
