.site-header {
  height: 6%;
  width: 100%;
  background: linear-gradient(to right, #a29c9c, #cfc8c8, #E8EBF4);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'AdventuraFont';
  padding: 0 1%;
}

.route-display {
  margin-top: 0;
  margin-left: 1%;
  color: rgb(255, 255, 255);
  font-size: larger;
  flex: 1;
}

.profile-picture {
  margin-left: 1%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
