.site-header{
  height: 5%;
  width: 100%;
  background: linear-gradient(to right, #a29c9c, #cfc8c8, #E8EBF4);
  display: flex;
  align-items: left;
  justify-content: left;
  font-family: 'AdventuraFont';
}

.route-display {
  margin-top: 0.7%;
  margin-left: 1%;
  color: rgb(255, 255, 255);
  font-size: larger;
  flex: 1;
}
