<div class="card">
  <p-table
    #dt
    [value]="reservations"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '70rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Reservations</h5>
        <span>
          <input
            pInputText
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
          />
          <button
            pButton
            pRipple
            label="Search"
            icon="pi pi-search"
            class="p-button ml-3"
            (click)="search(searchQuery)"
          ></button>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" style="width: 100">
      <tr>
        <th>User</th>
        <th>Travel date</th>
        <th>Transaction ID</th>
        <th>Travel</th>
        <th>Type</th>
        <th>Passangers</th>
        <th>Nights</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reservation style="width: 100%">
      <tr>
        <td>{{ reservation.user.username }}</td>
        <td>{{ formatDateWrapper(reservation.travelInformation) }}</td>
        <td>{{ reservation.payment.transactionNumber }}</td>
        <td>{{ reservation.travel.name }}</td>
        <td>{{ reservation.travel.travelType.name }}</td>
        <td>{{ reservation.numberOfPassengers }}</td>
        <td>{{ reservation.travel.numberOfNights }}</td>
        <td>{{ reservation.payment.amount | currency : "EUR" }}</td>
        <td
          [style.color]="
            reservation.status === 'Active'
              ? 'green'
              : reservation.status === 'Canceled'
              ? 'red'
              : 'inherit'
          "
        >
          {{ reservation.status }}
        </td>
        <td>
          <button
            pButton
            [disabled]="reservation.status === 'Canceled'"
            pRipple
            icon="pi pi-ban"
            class="p-button-rounded p-button-danger mr-2"
            (click)="cancelReservation(reservation.reservationId)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-info"
            class="p-button-rounded p-button-info mr-2"
            (click)="showModalData(reservation)"
          ></button>
        </td>
        <td></td>
      </tr>
    </ng-template>
  </p-table>
  <p-dialog
    header="{{
      reservationDetails?.travel?.name
        ? reservationDetails?.user?.username +
          ' - ' +
          reservationDetails?.travel?.name
        : ''
    }}"
    [(visible)]="additionalServicesInfoModal"
    [modal]="true"
  >
    <h2>Additional services</h2>
    <p-listbox
      [options]="additionalServicesOptions"
      [disabled]="true"
      [style]="{ width: '15rem' }"
    ></p-listbox>
    <h2>Included items</h2>
    <p-listbox
      [options]="includedItems || []"
      [disabled]="true"
      [style]="{ width: '15rem' }"
    ></p-listbox>
  </p-dialog>
</div>
