<p-dialog
  [visible]="true"
  header="Additional Services"
  [modal]="true"
  styleClass="p-fluid"
  [closable]="false"
>
  <ng-template pTemplate="content">
    <form [formGroup]="groupData">
      <div class="field">
        <label>Name</label>
        <input
          type="text"
          pInputText
          id="name"
          formControlName="name"
          required
          autofocus
        />
        <div
          *ngIf="
            groupData.get('name')?.hasError('required') &&
            groupData.get('name')?.touched
          "
          class="text-danger"
        >
          Please enter the service name
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col">
          <label>Price</label>
          <p-inputNumber
            id="price"
            formControlName="price"
            mode="currency"
            currency="EUR"
            locale="en-US"
          ></p-inputNumber>
          <div
          *ngIf="
            groupData.get('price')?.hasError('required') &&
            groupData.get('price')?.touched
          "
          class="text-danger"
        >
          Please enter the price
        </div>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      [disabled]="!groupData.valid"
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
