<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="travels"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Travels</h5>
        <span class="p-input-icon-left">
          <!-- <i class="pi pi-search"></i> -->
          <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." /> -->
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Image</th>
        <th pSortableColumn="price">
          Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="type" style="min-width: 10rem">Type</th>
        <th pSortableColumn="date" style="min-width: 10rem">Dates</th>
        <th pSortableColumn="action">Actions</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-travel>
      <tr>
        <td>{{ travel.name }}</td>
        <td>
          <img
            [src]="'data:image/jpeg;base64,' + travel.image"
            [alt]="travel.name"
            width="50"
            class="shadow-4"
          />
        </td>
        <td>{{ travel.price | currency : "USD" }}</td>
        <td>{{ travel.travelType.name }}</td>
        <td>{{ displayDates(travel.travelInformations) }}</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editProduct(travel)"
          ></button>
          <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  [(visible)]="travelDialog"
  [style]="{ width: '450px' }"
  header="Product Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <img
      [src]="'data:image/jpeg;base64,' + travel.image"
      [alt]="travel.name"
      [alt]="travel.image"
      class="block m-auto pb-3"
      *ngIf="travel.image"
    />
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="travel.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !travel.name"
        >Name is required.</small
      >
    </div>
    <div class="field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="travel.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="travel.price"
          mode="currency"
          currency="USD"
          locale="en-US"
        ></p-inputNumber>
      </div>
      <div class="field col">
        i
        <label for="price">Type</label>
        <p-inputNumber
          id="type"
          [(ngModel)]="travel.travelType!.name"
          mode="currency"
          currency="USD"
          locale="en-US"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>
